@media screen and (min-width: 64em) {
  .profile h1 {
    font-size: 2.4rem;
  }

  .profile p {
    font-size: 1.4rem;
  }

  .status {
    width: 10rem;
    height: 6.7rem;
  }

  .status p:first-child {
    font-size: 1.8rem;
  }

  .status p:last-child {
    font-size: 1.2rem;
  }

  .gallery-imagens {
    padding: 2.8rem 9.6rem;
    
  }
}
