@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

/*======= UTILITIES =========*/

.flex-profile{
    border: blue solid 2px;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    align-items: center;
    justify-items: center;
    padding: 2rem;

}

.flex-profile-status{
    display: flex;
}

.profile-image{
    width: 15%;
    border-radius: 8px;
}


/*====== LAYOUT =========*/
body{
    display: grid;
    place-items: center;
    min-height: 100vh;
    line-height: 1.5;
}


